.containerDiv
{
    width: 100%;
    text-align: center;
}
.element-cart{
    position: absolute;
    background-color: blue;
    color: white;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    right: 6px;
    top: 7px;
    z-index: 1;   
}
.productList{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:10px ;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:20%;
    height: 20em;
    padding: 10px;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 4px 3px 4px rgba(0,0,0,.05);

}
.imgData{
    width: auto !important ;
    max-width: unset!important;;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;   
}
.nav-link{
 
    cursor: pointer;
}
.navbar-brand{
    cursor: pointer;

}
